*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: flex-end;
    max-height: 25px;
}

body{
    background-color: black;
}

header p{
    color: white;
    display: inline-block;
    border-radius: 5px ;
    text-align: center;
    background-color: #4a4a4a;
    font-size: x-small;
    padding: 3px;
}

main{
    background-color: black;
}

.container{
    display: flex;
    max-width: 99%;
}

.video-group{
    flex-wrap: wrap;
    /*position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
    max-width: 1800px;
    justify-content: center;
}

.user-view{
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

footer{
    display: flex;
    justify-content: space-between;
    max-height: 80px;
    background-color: red;
}

footer ul{
    display: flex;
    list-style: none;
}

 footer ul li{
    color: white;
    height: 100%;
    padding-right: 5px;
 }

 footer ul .column{
    flex-direction: column;
 }